<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <title>@ViewBag.Title</title>
    <style>
        .navbar-right
        {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SJD Tool Hire</a>
                @Html.Action("Summary", "Cart")
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                    <li>
                        @Html.ActionLink("Admin", "Index", "Admin", null, new { returnUrl = Request.Url.PathAndQuery })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="visible-xs" style="margin-top:40px; background-color: transparent">
        @Html.Action("Menu", "Nav", new { horizontalLayout = true })
    </div>
     <div class="row panel" style="margin-top:40px; background-color: transparent">
        <div class="col-sm-1 hidden-xs col-md-offset-1">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-12 col-sm-8" style="margin-left:20px;">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript">
        $(function ()
        { // will trigger when the document is ready
            $(".datepicker").datepicker(
            {
                format: "dd/mm/yyyy",
                autoclose: true,
                todayHighlight: true
            });
            $(".startdate").datepicker(
            {
            }).on('changeDate', function (selected)
            {
                var startDate = new Date(selected.date.valueOf());
                $('.enddate').datepicker('setStartDate', startDate);
                $('#form-start-date').submit();
            }).on('clearDate', function (selected)
            {
                $('.enddate').datepicker('setStartDate', null);
                $('#form-start-date').submit();
            });
            $(".enddate").datepicker(
            {
            }).on('changeDate', function (selected)
            {
                var endDate = new Date(selected.date.valueOf());
                $('.startdate').datepicker('setEndDate', endDate);
                $('#form-end-date').submit();
            }).on('clearDate', function (selected)
            {
                $('.startdate').datepicker('setEndDate', null);
                $('#form-end-date').submit();
            });
        });
    </script>
</body>
</html>