@model SJDToolHire.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "SJD Tool Hire: Your Cart";
}

<style>
    #cartTable td
    {
        vertical-align: middle;
    }
</style>

<div class="well">
    <h2>Your basket</h2>

    <table id="cartTable" class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Item</th>
                <th class="text-right">Unit Cost</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td class="text-left">@line.Quantity</td>
                    <td class="text-left">@line.Tool.Name</td>
                    <td class="text-right">
                        @line.Tool.Rate.ToString("c")
                    </td>
                    <td class="text-right">
                        @((line.Quantity * line.Tool.Rate).ToString("c"))
                    </td>
                    <td style="width:25px; margin-left:1px; margin-right:1px">
                        @using (Html.BeginForm("DecrementQty", "Cart"))
                        {
                            @Html.Hidden("ProductId", line.Tool.ProductID)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input class="btn btn-sm btn-warning" type="submit" value=" - " />
                        }
                    </td>
                    <td style="width:25px; margin-left:1px; margin-right:1px">
                        @using (Html.BeginForm("IncrementQty", "Cart"))
                        {
                            @Html.Hidden("ProductId", line.Tool.ProductID)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input class="btn btn-sm btn-success" type="submit" value=" + " />
                        }
                    </td>
                    <td style="width:100px; margin-left:1px; margin-right:1px">
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                        {
                            @Html.Hidden("ProductId", line.Tool.ProductID)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input class="btn btn-sm btn-danger" type="submit" value="Remove Line" />
                        }
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr style="font-weight:700">
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.Cart.ComputeTotalValue().ToString("c")
                </td>
            </tr>
        </tfoot>

    </table>


    <div class="text-center">
        <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
        @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
    </div>
</div>